﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="Lab1._Default" %>

<asp:Content runat="server" ID="FeaturedContent" ContentPlaceHolderID="FeaturedContent">
    <asp:Label ID="lblVreme1" Font-Names="Verdana" runat="server" Text="Kонтрола за приказ на време" ForeColor="Navy" Font-Size="Medium"></asp:Label>
    <br />
    <asp:Label ID="lblVreme2" Font-Names="Verdana" runat="server" Text="Kонтрола за приказ на време" ForeColor="Navy" Font-Size="Medium"></asp:Label>
    <br />
    <asp:Button ID="btnVreme" OnClick="btnVreme_Click" Font-Names="Verdana" runat="server" Text="Kонтрола за приказ на време" ForeColor="Navy" Font-Size="Medium"></asp:Button>
    <br />
    <asp:HyperLink ID="hlSledno" runat="server" NavigateUrl="~/Default2.aspx" >Default2</asp:HyperLink>
</asp:Content>
